/**
 * Content Sectioning
 */

// address {}
// article {}
// aside {}
// footer {}
// h1 {}
// h2 {}
// h3 {}
// h4 {}
// h5 {}
// h6 {}
// #{$all-headers} {}
// header {}
// hgroup {}
// main {}
// nav {}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
