/**
 * Sectioning Root
 */

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include size(100%);
}
