/**
 * Overlay placeholder, inspired by Chris Coyier's post on CSS Tricks:
 * https://css-tricks.com/snippets/sass/covering-mixin/
 */
%overlay {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
