/**
 * System font stack inspired by Mark Dotto's post on his site
 * http://markdotto.com/2018/02/07/github-system-fonts/
 */
$system-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Font weights
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

// Font declarations for the theme

$base-font-family: 'ff-market-web-pro-condensed', sans-serif;
